<section class="container">
  <div class="card">
    <div class="card-body">
      <p class="card-title ">Name: <span class="text-warning user_name"><%= @user.name %></span></p>
      <div class="">
        <h5 class="recent_posts">Recent Posts: </h5>
        <% @posts.each do |post| %>
          <div class="card mb-4">
            <div class="card-body">
                <p class="text-italic"><%= post.content %></p>
            </div>
            <div class="card-footer">
              <p>Creation Date: <span class="italic"><%= time_ago_in_words(post.created_at) %></span></p>
              <p>Post Info: <%= link_to 'View Post', root_path , class: 'btn btn-sm btn-success' %> </p>
            </div>
          </div>
        <% end %>
      </div>

      <div class="mutual-friends">
        <h4 class="text-italic">Mutual Friends: </h4>
        <% @mutual_friends.each do |friend|%>
          <p><%= friend.name %></p>
        <% end %>
      </div>
    </div>
    
    <div class="card-footer">
      <button class="btn btn-sm btn-success">
        <%= determine_friendship(@user) %>
      </button>
      <button class="btn btn-sm btn-dark">
        <%= link_to 'Back', users_path, class: 'text-light'%>
      </button>
    </div>
  </div>
</section>